.repo
{
    font-size: 1rem;
    margin-top: 3rem;
    width: 800px;
    border: 2px solid black;

    color:white;
    background-color: inherit;

    &:hover{
        background-color: rgb(63, 63, 63);
    }
}

.back {
    font-size: 1rem;

    width: 10rem;
    color:white;
    background-color: inherit;

        &:hover{
        background-color: rgb(63, 63, 63);
    }
}